

@import "../../bower_components/jquery-mobile-bower/css/jquery.mobile-1.4.2.css";

/*General*/
body{
	font-size: 18px !important;	
	height: 100vh !important;
}
.building-name{
	margin-top: 0;
}

.ui-mobile .ui-page {
	min-height: 100vh !important;
}

.ui-page-theme-a .ui-btn {
	text-shadow: none;
}

.ui-page-theme-a .ui-btn:hover{
	text-shadow: none;
}

.ui-page-theme-a {
	text-shadow: none;
}

.swipe-dot {
	display: block;
	width: 0.5em;
	height: 0.5em;
	font-weight: normal;
	font-size: 1.2em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	margin: 0.2em;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: none;
	cursor: pointer;
	float: left;
}
.left{
	float: left;
}

.swipe-dot-view {
	height: 1.5em;
	bottom: 250px;
	left: 45%;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	z-index: 1;
	position: absolute;
	overflow: hidden;
	max-width: 140px;
}

.swipe-dot.current {
	background-color: rgba(255, 255, 255, 0.8);
	background-image: none;
}

.ui-grid-a .ui-btn {
	display: block;
}

.hidden-page {
	display: none;
}

/******** Tutorial **********/
/*.help-page {
	background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}*/

#tutorial-view { /*Should be implemented via JS*/
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-1.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;

}
div#transparent-header.ui-header.ui-bar-inherit{
	background-color: transparent;
	border-color: transparent;
	color: white;
	text-shadow: none;
	font-weight: 700;
	font-size: 1em;
}

div#tutorial-footer.ui-footer.ui-bar-inherit.ui-footer-fixed.slideup{
	background-color: transparent;
	border-color: transparent;
}

#tutorial-sign-up, #tutorial-login {
	
	background-color: #107c87;
	color: #fff;
	border: none;
	/* height: 45px; */
	font-size: 1.6em;
	/*width: 80%;*/
	/* bottom: -15px; */
	left: 0px;
	/*margin: 0px;*/

}
.tutorial-title{
	margin-top: 25vh;
	font-weight: 700;
	font-size: 1.5em;
}
.tutorial-paragraph{
	font-size: 0.7em;
}


/******* Login CSS *********/

/*.login-holder{
	margin-top: 5% !important;
}
*/
.logo-login{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-top: 25px;
}
#fb-login {
	background-color: rgb(64,98, 169);
	border-color: rgb(64,98, 169);
	color: white;
	font-size: 1.2em;
}

#email-button{
	background-color: rgb(252,93, 100);
	border-color: rgb(252,93, 100);
	font-size: 1.2em;
	color: #fff;
}
.signup-button{
	color: white !important;
	background-color: rgb(130, 188,226) !important;
	border-color: rgb(130, 188,226) !important;
	font-size: 1.2em;
}
#tutorial-button{
	color: white !important;
	background-color: rgb( 67, 186, 169) !important;
	border-color: rgb(67, 186, 169) !important;
	font-size: 1.2em;
}

.ui-btn-icon-notext::after, .ui-btn-icon-top::after, .ui-btn-icon-bottom::after {
	left: 0 !important;
	margin-left: 10px !important;
}

#choose-login-signup-page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-6.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}

/*******Log In with email********/
#app-login-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-7.jpg);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}

/******* Sign Up *******/


#signup-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-5.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}
#signin-button{
	color: white !important;
	background-color: #107c87 !important;
	border-color: #107c87 !important;
	font-size: 1.2em;
}

.ui-input-text{
	margin: 0px;
	border-width: 1px;
	border-style: solid;
}
.ui-shadow-inset{
	box-shadow: none;
}
.ui-corner-all{
		border-radius: 0;
}

/******* Address Page*******/
#address-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-4.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}

/********* NOTIFY PAGE *************/
.notification-icon{
	display: inline-block;
	border: orange 1px solid;
	border-radius: 50%;
	width: 15px;
	background-color: orange;
}

.popup.info{
	background-color:#F9F9F9;
}
.popup.warning{
	background-color: #FEFCCB;
}
.popup.error{
	background-color: #FFD2D3;
}
.popup.success{
	background-color: #D4FFCD;
}