<div data-role="popup" id="alertPopup" class="popup <%= type %>" data-transition="pop"  data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="b">
        <h1><%= translatedType %></h1>
    </div>
    <div role="main" class="ui-content">
        <p><%= message %></p>
        <% if (errors) {
            for (var i=0; i<errors.length;i++) { %>
            <li><%= errors[i] %></li>
        <% }} %>
        <div class="ui-grid-b">
            <div class="ui-block-a"></div>
            <div class="ui-block-b"><a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Ok</a></div>
            <div class="ui-block-c"></div>
        </div><!-- /grid-b -->
    </div>
</div>
