<div id="transparent-header" data-role="header">
  <h3>GrabYourPack</h3>
</div>

<div role="main" class="address ui-content">
    <form method="post" action="#">
        <a id="left" href="#signup-page" class="ui-icon-arrow-l ui-btn-icon-top"></a>
        
        <label for="Address" class="ui-hidden-accessible">Address</label>
        <input type="text" name="address" id="address" placeholder="Address">

        <label for="Apartment Number" class="ui-hidden-accessible">Apartment Number</label>
        <input type="text" name="apt" id="apt" placeholder="Apartment Number">
        
        <label for="city" class="ui-hidden-accessible">City</label>
        <input type="text" name="city" id="email" placeholder="city">
        
        <label for="State" class="ui-hidden-accessible">State</label>
        <input type="text" name="state" id="state" placeholder="State">
        
        <label for="Zip Code" class="ui-hidden-accessible">Zip Code</label>
        <input type="text" name="zcode" id="zcode" placeholder="Zip Code">
        
        <a href="#notify-page" class="signup-button ui-btn">Submit</a>
    </form>
</div>
