<!--
Log In Page
-->
<div id="transparent-header" data-role="header">
    <h3>GrabYourPack</h3>
</div>

<div role="main" class="ui-content">

    <h1 class="logo-login">GrabYourPack</h1>

    <div class="login-holder">  

      <a href="#tutorial-view" class="ui-icon-arrow-l ui-btn-icon-top"></a>
        <div class="ui-content">
            <p>Quickly Log In using</p>
            <div id="fb-root"></div>
            <a id="fb-login" href="#notify-page" class="ui-btn">Facebook</a>
            <a id="email-button" href="#app-login-page" class="ui-btn">Email</a>
        </div>
        <div class="ui-content">
            <p>Don't have an account yet?</p>
            <a  href="#signup-page" class="signup-button ui-btn">Sign Up </a>
        </div>
        <div class="ui-content">
            <p>Do you need more info?</p>
            <a id="tutorial-button" href="#tutorial-view" class="ui-btn">See tutorial</a>
        </div>
    </div>
</div>
