<!--
Log In with Email
-->
<div id="transparent-header" data-role="header">
    <h3>GrabYourPack</h3>
</div>

<div role="main" class="ui-content">
    <a  href="#choose-login-signup-page" class="ui-icon-arrow-l ui-btn-icon-top"></a>
    <div class="ui-content">
        <form method="post" action="#">
            <label for="email" class="ui-hidden-accessible">Email</label>
            <input type="text" name="email" id="email" placeholder="Email">
            <label for="password" class="ui-hidden-accessible">Password</label>
            <input type="text" name="password" id="password" placeholder="Password">
            <a href="#notify-page" class="signup-button ui-btn ">Log In</a>
        </form>
    </div>
</div>
