<div id="transparent-header"  data-role="header">
    <h3>GrabYourPack</h3>
</div>

<div role="main" class="signup ui-content">
    <div>
        <p>Quickly Sign Up using:</p>
        <a id="fb-button" href="#address-page" class="ui-btn ">Facebook</a>
    </div>
    
    <p>Or use your email:</p>
    <form class="sign-up-text" method="post" action="#">
        <a href="#help-page" class="ui-icon-arrow-l ui-btn-icon-top"></a>

        <label for="Name" class="ui-hidden-accessible">Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
        
        <label for="Last Name" class="ui-hidden-accessible">Last Name</label>
        <input type="text" name="lname" id="lname" placeholder="Last Name">
        
        <label for="email" class="ui-hidden-accessible">Email</label>
        <input type="text" name="email" id="email" placeholder="Email">
        
        <label for="Phone Number" class="ui-hidden-accessible">Phone Number</label>
        <input type="text" name="pnumber" id="zcode" placeholder="Phone Number">
        
        <label for="password" class="ui-hidden-accessible">Password</label>
        <input type="text" name="password" id="password" placeholder="Password">
        
        <label for="Confirm Password" class="ui-hidden-accessible">Confirm Password</label>
        <input type="text" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password">
        
        <a href="#address-page" class="signup-button ui-btn ">Sign Up</a>
    </form>

    <div>
        <p>Have an account?</p>
        <a id="signin-button" href="#choose-login-signup-page" class="ui-btn">Log In</a>
    </div>
</div>
