<div id="transparent-header"  data-role="header">
    <h3>GrabYourPack</h3>
</div>

<div role="main" class="signup ui-content">
    <div>
        <p>Quickly Sign Up using:</p>
        <a id="fb-login" href="#notify-page" class="ui-btn">Facebook</a>
    </div>
    
    <p>Or use your email:</p>
    <form id="signup-form" class="sign-up-text" method="post">
        <a href="#help-page" class="ui-icon-arrow-l ui-btn-icon-top"></a>

        <label for="Name" class="ui-hidden-accessible">Name</label>
        <input type="text" name="first_name" id="first_name" placeholder="Name" value="Bruno">
        
        <label for="Last Name" class="ui-hidden-accessible">Last Name</label>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" value="Correa">
        
        <label for="email" class="ui-hidden-accessible">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" value="brunogmc@gmail.com">
        
        <label for="Phone Number" class="ui-hidden-accessible">Phone Number</label>
        <input type="tel" name="phone" id="phone" placeholder="Phone Number" value="3128430033">
        
        <label for="password" class="ui-hidden-accessible">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" value="password">
        
        <label for="Confirm Password" class="ui-hidden-accessible">Confirm Password</label>
        <input type="password" name="repeat_password" id="repeat_password" placeholder="Confirm Password" value="password">
        
        <a id="submit" class="signup-button ui-btn">Sign Up</a>
    </form>

    <div>
        <p>Have an account?</p>
        <a id="signin-button" href="#choose-login-signup-page" class="ui-btn">Log In</a>
    </div>
</div>
