/*#help-01-page { background-image: url("../img/help-01-page.png"); }
#help-02-page { background-image: url("../img/help-02-page.png"); }
#help-03-page { background-image: url("../img/help-03-page.png"); }*/

/*General*/
body{
	font-size: 18px !important;
	height: 100%;
}


.ui-page-theme-a .ui-btn {
	text-shadow: none;
}

.ui-page-theme-a .ui-btn:hover{
	text-shadow: none;
}

.ui-page-theme-a {
	text-shadow: none;
}
/**/
.help-page {
	background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.swipe-dot {
	display: block;
	width: 0.5em;
	height: 0.5em;
	font-weight: normal;
	font-size: 1.2em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	margin: 0.2em;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: none;
	cursor: pointer;
	float: left;
}
.left{
	float: left;
}

.swipe-dot-view {
	height: 1.5em;
	bottom: 50px;
	left: 45%;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	z-index: 1;
	position: absolute;
	overflow: hidden;
	max-width: 140px;
}

.swipe-dot.current {
	background-color: rgba(255, 255, 255, 0.8);
	background-image: none;
}

.ui-grid-a .ui-btn {
	display: block;
}

.hidden-page {
	display: none;
}
/******** Tutorial **********/


#help-page{ /*Should be implemented via JS*/
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-1.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}
div#transparent-header.ui-header.ui-bar-inherit{
	background-color: transparent;
	border-color: transparent;
	color: white;
	text-shadow: none;
	font-weight: 700;
	font-size: 1em;
}

div#tutorial-footer.ui-footer.ui-bar-inherit.ui-footer-fixed.slideup{
	background-color: transparent;
	border-color: transparent;
}

#tutorial-sign-up{
	background-color: rgb(254,180,43);
	color: white;
	border: none;
}
.tutorial-title{
	margin-top: 25vh;
	font-weight: 700;
	font-size: 1.5em;
}
.tutorial-paragraph{
	font-size: 0.7em;
}


/******* Login CSS *********/
#fb-button {
	background-color: rgb(60,90,151);
	color: white;
}
#email-button{
	background-color: rgb(19,120,227);
	color: white;
}
.signup-button{
	background-color: rgb(220,77,63) !important;
	color: white !important;
}
#tutorial-button{
	background-color: rgb(250,131,58);
	color: white;
}

.ui-btn-icon-notext::after, .ui-btn-icon-top::after, .ui-btn-icon-bottom::after {
	left: 0 !important;
	margin-left: 10px !important;
}

#choose-login-signup-page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-6.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}

/*******Log In with email********/
#app-login-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-7.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}
/******* Sign Up *******/

#signup-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-5.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}
#signin-button{
	background-color: rgb(254,180,43);
	color: white;
}

.ui-input-text{
	margin: 0px;
	border-width: 1px;
	border-style: solid;
}
.ui-shadow-inset{
	box-shadow: none;
}
.ui-corner-all{
		border-radius: 0;
}

/******* Address Page*******/
#address-page{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-4.png);
	background-position: center center;
	background-repeat: none;
	background-size: cover;
	color: white;
}
